<beans:beans xmlns="http://www.springframework.org/schema/security"  
    xmlns:beans="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans.xsd  
    http://www.springframework.org/schema/security  
    http://www.springframework.org/schema/security/spring-security.xsd">  
    
    <http auto-config="true">  
    
       <intercept-url pattern="/directeur" access="ROLE_DIRECTEUR" />  
        <intercept-url pattern="/directeur" access="ROLE_DIRECTEUR" />  
        <intercept-url pattern="/ajoutercredit" access="ROLE_DIRECTEUR" />  
        
        
        <intercept-url pattern="/professeur" access="ROLE_PROF" />  
         <intercept-url pattern="/validercreditp" access="ROLE_PROF" />  
          <intercept-url pattern="/consultercredit" access="ROLE_PROF" />  
        
     
          <intercept-url pattern="/etudiant" access="ROLE_ETUDIANT" />  
        <form-login 
		
		    default-target-url="/welcome" 
			authentication-failure-url="/login?error" 
			username-parameter="username"
			password-parameter="password" />
			
			
 
    </http>  
    
    <authentication-manager>  
      <authentication-provider>  
        <user-service>  
        <user name="admin1" password="1234" authorities="ROLE_DIRECTEUR" />  
            <user name="admin2" password="1234" authorities="ROLE_PROF" />  
           <user name="admin3" password="1234" authorities="ROLE_ETUDIANT" />  
        
        
        
        </user-service>  
      </authentication-provider>  
    </authentication-manager>  
</beans:beans> 